.svn
Obj
Log
dist
build
__pycache__
*~
*.bak
*.opensdf
*.suo
*.obj
*.sdf
*.user
*.a
*.o
*.pyc
*.bak
ipch
*.bin

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
wheelhouse
.idea
.service